footer {
    height: 8vh;
    width: 100vw;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: rgba(240, 87, 45, 1);
    /* position: absolute;*/
    position: fixed;
    bottom: 0;  

}

.redes {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    margin-right: 30px;
    height: 20px;
    width: 100px;
}