footer {
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: rgba(240, 87, 45, 1);
    /* position: absolute;*/
    position: fixed;
    bottom: 0;  

}

.redes {
    display: flex;
    margin: 20px;
    justify-content: space-between;
}
