header {
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: left;
    justify-items: center;
    align-items: flex-end;
    
}

.logo-img{
    position: relative;
 margin-left: 1rem;
width: 71px;
height: 52px;
}

.slogan{
    font-weight: 300;
    font-size: 20px;
    font-style: italic;
    line-height: 23px;
    margin-bottom: 5px;
    margin-left: 10px;
}
.logo-db{
    width: 68px; 
    height: 50px;
  }

.inputs-header {
    display: flex;
    flex-direction: row;
    /* justify-content: right; */
    gap: 10px;
    margin-right: 10px;
}

.crearCuenta, .iniciarSesion {
    height: 35px;
    background-color: white;
    border-color: rgba(240, 87, 45, 1);
    color: rgba(240, 87, 45, 1);
    border-radius: 5px;
    padding: 5px 35px;
}