header {
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: left;
    justify-items: center;
    align-items: flex-end;
    
}

.logo-img{
position: relative;
margin-left: 1rem;
width: 71px;
height: 52px;
}

.slogan{
    font-weight: 300;
    font-size: 20px;
    font-style: italic;
    line-height: 23px;
    margin-bottom: 5px;
    margin-left: 10px;
}
.logo-db{
    width: 68px; 
    height: 50px;
  }

.inputs-header {
  display: flex;
  flex-direction: row;
  /* justify-content: right; */
  gap: 10px;
  margin-right: 10px;
}

.crearCuenta,
.iniciarSesion {
  height: 35px;
  background-color: white;
  border-color: rgba(240, 87, 45, 1);
  color: rgba(240, 87, 45, 1);
  border-radius: 5px;
  padding: 5px 35px;
}

/* pantalla 2 Mobile crearCuenta */
@media screen and (max-width:  480px){
  .slogan{
    display: none;
  }
  header{
    box-shadow: 0px 1px 6px grey;
    
}

.crearCuenta,
.iniciarSesion:hover {
  cursor:pointer;
}

.user {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}

.colorUser {
  color: rgba(240, 87, 45, 1);
  display: flex;
  flex-direction: row;
}

.fa-times {
  font-size: 13px;
  display: flex;
  justify-content: right;
}

.saludo{
  font-size: 0.7em;
}

.fa-times:hover {
  cursor: pointer;
}
}