header {
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
     display: flex;
    flex-direction: row;
    justify-content: left; 
    text-align:
}
.logo-db{
    width: 68px; 
    height: 50px;
  }

.inputs-header {
    display: flex;
    flex-direction: row;
    /* justify-content: right; */
    gap: 10px;
    margin-right: 10px;
}

.crearCuenta, .iniciarSesion {
    height: 35px;
    background-color: white;
    border-color: rgba(240, 87, 45, 1);
    color: rgba(240, 87, 45, 1);
    border-radius: 5px;
    padding: 5px 35px;
}