.logIn {
        background-color: rgba(223, 228, 234, 1);
        height: 100%;
}

.titulo-inicio {
  color: black;
}

.form-iniciarSesion {
    width: 25.735294117647058vw;
    height: 80vh; /*cambiar*/
    margin: auto;
    display: flex;
    position:relative;
    /* background-color: red; */
    /* padding: 20px; */
}

.inputs-inicio {
    margin-top: 30px;
      display: flex;
      flex-direction: column;
      width: 100%;
}
.password {
  position: absolute;
  line-height: 35px;
  right: 5px;;
}

.labels-inicio {
    margin-top: 10px;
    text-align: left;
}

.campos-inicio {
    border-radius: 5px;
    height: 35px;
    width: 100%;
    position:relative;
  }

  #boton-iniciarSesion {
    height: 35px;
  margin-top: 35px;
  background-color: rgba(240, 87, 45, 1);
  width: 12vw;
  border: none;
  border-radius: 5px;
  padding: 10px 35px;
  color: white;
  display: flex;
  justify-content: center;
  align-self: center;
}

.texto-cuenta {
    margin-top: 10px;
}