.fechas-disponibles {
    height: 250px;
    width: 100%;
    background-color: rgba(223, 228, 234, 1);
}

.titulo-fechas {
    display: flex;
    margin-left: 20px;
}

.inicar-reserva {
    height: 100px;
    width: 30%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}

.boton-iniciar-reserva {
    width: 75%;
    height: 25px;
    background-color: rgba(240, 87, 45, 1);
    border-radius: 5px;
    border: none;
    color: white;
}

.boton-iniciar-reserva:hover{
cursor: pointer;
}