.datosUsuario {
    width: 60%;
    height: 200px;
}

.datosUsuario h2{
    text-align: left;
}

.form-datosUsuario {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: white;
    border-radius: 5px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 3px 2px grey;
    /* border-style: solid;
    border-color: gray; 
    border-width: 0.5px; */
}

.form-datosUsuario input {
    height: 35px;
    width: 90%;
}

.form-datosUsuario label {
    margin-left: 10px;
}

.inputs-formDatosUsuario {
    display: flex;
}